* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}

body {
    background-color: antiquewhite;
}

h1 {
    color: #87ceeb;
    text-align: center;
    font-family: 'Pixel';
}

.player {
    display: flex;
    flex-direction: column;
    width: 15vw;
    justify-content: center;
    background-color: #e0f6ff;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 25px;
}

.player span {
    color: #87ceeb;
    font-family: 'Pixel';
    font-weight: bolder;
    text-align: center;
    margin: 5px;
}

.player  input {
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.player button {
    border: none;
    background-color: #87ceeb;
    color: #e0f6ff;
    border-radius: 10px;
    margin: 10px;
    transition: 0.5s;
}

.player button:hover{
    background-color: #e0f6ff;
    color: #87ceeb;
}

[wm-flappy]{
    position: relative;
    border: 5px solid white;
    height: 700px;
    width: 1200px;
    margin: 15px auto;
    background: linear-gradient(#87ceeb, #e0f6ff);
    overflow: hidden;
    

}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 10s infinite linear;

}

.bottom {
    top: 50%;
    animation:  bottom-animation 15s infinite linear;
}

.passaro {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
}

.par-de-barreiras {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border: 2px solid #000;
}

.barreira .corpo {
    height: 150px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Pixel;
    font-size: 70px;
    z-index: 100;
}

.clouds-stop {
    animation-play-state: paused;
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}

@keyframes bottom-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}

@media (min-width: 800px) {
    [wm-flappy]{
        width: 1000px;
        height: 600px;
    }
}